* {
  box-sizing: border-box;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
[class*="col-"] {
  float: left;
  padding: 3px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header h1 {
  padding-left: 30px;
}

header h2 {
  text-align: center;
}

header .row .col-4 {
  display: flex;
  justify-content: flex-end;
}

header nav ul,
a {
  font-size: 25px;
  list-style-type: none;
  color: black;
  text-align: center;
}

main h1 {
  text-align: center;
  font-size: 25px;
}

main .align-img {
  display: flex;
  justify-content: center;
}

main .align-img img {
  border-radius: 10px;
}

main h3 {
  padding-left: 10px;
  font-size: 25px;
}

main p {
  text-align: justify;
  padding: 10px;
  font-size: 25px;
}

footer {
  margin-top: auto;
}

footer p {
  font-size: 25px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  nav ul {
    display: flex;
    gap: 15px;
    padding: 10px;
  }

  .row .col-3 {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  nav ul {
    display: flex;
    gap: 15px;
    padding: 10px;
    justify-content: center;
  }

  .row .col-3 {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
  }
}
